{% extends "network/layout.html" %} {% block style %}
<style>
  body {
    background: #c8e6c9;
  }

  .no-box-shadow {
    box-shadow: none;
  }

  .no-box-shadow:focus {
    box-shadow: none;
  }

  .day {
    font-size: 9px;
  }

  .heart {
    border: 1px soild green !important;
    border-color: green !important;
    border-radius: 22px;
    cursor: pointer;
    min-height: 35px;
    height: 40px;
  }

  .heart-icon {
    color: green;
  }

  .comment-text {
    font-size: 18px;
    margin-top: 8px;
  }

  .delete {
    font-size: 13px;
    cursor: pointer;
  }

  .btn{
    margin-right: 7px;
  }
  a{
    text-decoration: none;
    cursor: pointer;
  }
  a:hover{
    color: #EA9115;
  }
  #foo{
    margin-top: 25px;
  }
</style>
{% endblock %} {% block body %}

<div class="container mt-5 mb-5">
  <div class="d-flex justify-content-center row">
    <div class="col-md-8">
            
      {% for post in posts %}
   
      <div class="p-3 bg-white mt-2 rounded">
        <div class="d-flex justify-content-between">
          <div class="d-flex flex-row user">
            <img
              class="rounded-circle img-fluid img-responsive"
              src="{{ post.user.img }}"
              width="50"
            />
            <a href="{% url 'profile'  post.user.id %}" class="text-decoration-none"><div class="d-flex flex-column ml-2">
              <span class="ont-weight-bold"><h4>{{ post.user.username }}</h4></span
              >
            </div>
             </a>
          </div>
          
          {% if user.is_authenticated %}  
          <div>

          
          {% if post.id in likes %}

          <div style="background-color: #F5D7F9; border-radius: 4px; cursor: pointer;" data-bool="true" id="like" data-postId="{{ post.id }}" name="{{ post.id }}like">
          <i class="bi-heart" style="font-size:30px; color: #D566D1;"></i>
          </div>

          {% else %}

          <div style="cursor: pointer; border-radius: 4px;" data-bool="false" id="like" data-postId="{{ post.id }}" name="{{ post.id }}like">
          <i class="bi-heart" style="font-size:30px; color: #D566D1;"></i>
          </div>

          {% endif %}
         
          <span class="ml-2" style="font-weight: 600;" id="{{ post.id }}likes">{{ post.likes }}</span>
          </div>
          {% endif %}  


        </div>

        
        <div class="comment-text text-justify mt-2">
          <p>
           {{ post.content }}
          </p>
        </div>
        <div class="d-flex p-2 bd-highlight justify-content-between" style="margin-top: 30px;">
        <span style="font-size: 16px;">{{ post.time }}</span>
        {% if user.id == post.user.id %}
        <div >
        <button type="button" class="btn btn-dark">Edit</button>
        </div>
        {% endif %}


        </div>
      </div>
      {% endfor %}
      

      <nav aria-label="Page navigation example" id="foo">
        <ul class="pagination">
            {% if posts.has_previous %}
            <li class="page-item"><a href="?page=1" class="page-link">&laquo; first</a></li>
            <li class="page-item"><a href="?page={{ posts.previous_page_number }}" class="page-link">previous</a></li>
            {% endif %}
    
            <li class="page-item" ><span class="current page-link">
                Page {{ posts.number }} of {{ posts.paginator.num_pages }}.
            </span></li>
    
            {% if posts.has_next %}
            <li class="page-item"> <a href="?page={{ posts.next_page_number }}" class="page-link">next</a></li>
              <li class="page-item"> <a href="?page={{ posts.paginator.num_pages }}" class="page-link">last &raquo;</a></li>
            {% endif %}
          </ul>
      </nav>




    </div>
  </div>
</div>
{% endblock %}

